
body{
    font-family:"NotoSansKR-DemiLight-Hestia";
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

// hd 파트
#hd{
    position: fixed;
    z-index: 10000;
    left:0; right:0;
    top:0;
    transition: 0.5s;
    h1{
        transition: 0.5s;
    }
    &.scrolldown{
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.6);
        h1{
            height: 31px;
            img{
                height: 70px;
                margin-top: -63px;
            }
        }
        .navbar-nav{
            a{
                font-size: 14px;
                padding: 0 15px;
                color: black;
                line-height: 1;
                letter-spacing: -0.085em;
                
            }
        }

    }
}

#basic-navbar-nav{
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 5px;
}

#basic-navbar-nav{
    .navbar-nav{
        ul{
            display: flex;
        }
    }
}
#basic-navbar-nav{
    .navbar-nav{
        a{
            margin-top: 3px;
            padding: 0 15px;
            display: block;
            font-size: 16px;
            line-height: 1;
            letter-spacing: -0.085em;
        }
    }
}

h1{
    text-align: center;
    transition: 0.5s;
    a{
        img{
            height: 55px;
            transition: 0.5s;
        }
    }
}
// banner 파트 //
#banner{
    .banner1{
        background-image: url(../img/slider-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 700px;

    }
}



// contact 파트 //
.flo{
    background-image: url(../img/svg/flogging.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
    height: 400px;
}
.flotext{
    text-align: center;
}


