@charset "UTF-8";
* {
  font-family: "Noto Serif KR", serif;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

hd 파트 #gnb li a {
  color: #333;
  text-decoration: none;
  font-size: medium;
  font-weight: bolder;
  padding: 2px;
}

.sns li a {
  color: #333;
  text-decoration: none;
  font-size: medium;
  font-weight: bolder;
  padding: 3px;
}

#basic-navbar-nav {
  justify-content: center;
}

#basic-navbar-nav .navbar-nav ul {
  display: flex;
}

h1 {
  text-align: center;
}
h1 a img {
  height: 80px;
}

.flo {
  background-image: url(../img/svg/flogging.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
  height: 400px;
}