
// body{
//     font-family:"NotoSansKR-DemiLight-Hestia";
// }



ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

// hd 파트
#hd{
    position: fixed;
    z-index: 10000;
    left:0; right:0;
    top:0;
    transition: 0.5s;
    h1{
        transition: 0.5s;
    }
    &.scrolldown{
        backdrop-filter: blur(15px);
        background-color: rgba(255, 255, 255, 0.6);
        h1{
            height: 31px;
            img{
                height: 70px;
                margin-top: -63px;
            }
        }
        .navbar-nav{
            a{
                font-size: 14px;
                padding: 0 15px;
                color: black;
                line-height: 1;
                letter-spacing: -0.085em;
                
            }
        }

    }
}

#basic-navbar-nav{
    justify-content: center;
    margin-top: 5px;
    padding-bottom: 5px;
}

#basic-navbar-nav{
    .navbar-nav{
        ul{
            display: flex;
            gap: 0 48px;
        }
    }
}
#basic-navbar-nav{
    .navbar-nav{
        a{
            color: #fff;
            margin-top: 3px;
            padding: 0 15px;
            display: block;
            font-size: 16px;
            line-height: 1;
            letter-spacing: -0.085em;
        }
    }
}

h1{
    text-align: center;
    transition: 0.5s;
    a{
        img{
            height: 55px;
            transition: 0.5s;
        }
    }
}
// banner 파트 //
#banner{
    .swiper-pagination-bullet{
        width:0.95rem;
        height:0.95rem;
        background-color: white;
    }
    .swiper-button-next:after, 
    .swiper-rtl .swiper-button-prev:after{
        display: block;
        width:64px; height:64px;
        content : url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 80 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 81L64 41L24 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
        display: block;
        width:64px; height:64px;
        content: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 80 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 81L16 41L56 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }
    }

#banner{
    .banner1{
        background-image: url(https://www.thebodyshop.co.kr/files/public/site/2023/202307/266821ea-581b-46db-a08b-1a1b9e8ffd7b.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;

    }
    .banner2{
        background-image: url(https://www.thebodyshop.co.kr/files/public/site/2023/202307/6c6d6ace-358f-4b68-ae72-5763261faebe.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
    }
    .banner3{
        background-image: url(https://www.thebodyshop.co.kr/files/public/site/2023/202305/dcb064a5-fee7-4d94-a918-9c242257fdc0.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 600px;
    }
}
.navbar-nav .nav-link.active{
    color: #03534D !important;
}


// contact 파트 //
.flo{
    background-image: url(../img/svg/flogging.svg);
    background-repeat: no-repeat;
    opacity: 0.7;
    height: 400px;
}

// about 파트
#about{
    .swiper-wrapper{
        align-items: center;
    }
    .swiper-pagination-bullet{
        width:0.95rem;
        height:0.95rem;
        background-color: white;
    }
    .swiper-button-next:after, 
    .swiper-rtl .swiper-button-prev:after{
        display: block;
        width:64px; height:64px;
        content : url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 80 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 81L64 41L24 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
        display: block;
        width:64px; height:64px;
        content: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 80 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 81L16 41L56 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }

}
// pick 파트
#pic{
    .swiper-wrapper{
        padding-top: 80px;
        .swiper-slide{
            opacity: 0.5;
            transition: 0.5s;
            transform: scale(0.95);
            .brand{
                opacity: 0;
            }
        }

        .swiper-slide-active{
            transform: scale(1.35);
            opacity: 1;
            .brand{
                opacity: 1;
            }
        }
    }
}
#pick{
    .swiper-pagination-bullet{
        width:0.95rem;
        height:0.95rem;
        background-color: white;
    }
    .swiper-button-next:after, 
    .swiper-rtl .swiper-button-prev:after{
        display: block;
        width:64px; height:64px;
        content : url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 80 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 81L64 41L24 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
        display: block;
        width:64px; height:64px;
        content: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 80 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M56 81L16 41L56 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }
    }



