* {
  font-family: "Noto Serif KR", serif;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

#gnb li a {
  color: #333;
  text-decoration: none;
  font-size: medium;
  font-weight: bolder;
  padding: 2px;
}

.sns li a {
  color: #333;
  text-decoration: none;
  font-size: medium;
  font-weight: bolder;
  padding: 3px;
}