.height {
    height: 600px;
}
.sw1 {
    height: 600px;
    background-color: rgb(180, 226, 180);
    /* background-image: url(https://www.cosinkorea.com/data/photos/20211252/art_16407712237901_49b4a6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%; */
}
.sw2 {
    height: 600px;
    background-color: rgb(113, 196, 113);
}
.sw3 {
    height: 600px;
    background-color: rgb(64, 119, 64);
}
