.news{
    padding: 0;
}
.sw1 {
    
    background-color: rgb(201, 202, 201);
}
.sw2 {

    background-color: rgb(132, 133, 132);
}
.sw3 {

    background-color: rgb(31, 31, 31);
}
.recy{
    width: 40rem;
    height: auto;
}
.ment{
    text-align: center;
    margin: 0 auto;
}

.title{
    font-size: 24px;
    letter-spacing: -.05em;
}