.sw1 {
    height: 300px;
    background-color: rgb(201, 202, 201);
}
.sw2 {
    height: 300px;
    background-color: rgb(132, 133, 132);
}
.sw3 {
    height: 300px;
    background-color: rgb(31, 31, 31);
}