.sw1 {
    margin: 0 auto;
    height: 50vh;
}
.sw2 {
    margin: 0 auto;
    height: 50vh;
}
.sw3 {
    margin: 0 auto;
    height: 50vh;
}
.sw4 {
    margin: 0 auto;
    height: 50vh;
}
.title{
    font-size: 24px;
    letter-spacing: -.05em;
}